*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings/
.DS_Store
.pydevproject
target/
.idea/
__pycache__/

ivy-2.5.0.jar

org.pm4knime.python/config.yml
