<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BPMN View</title>
    <link rel="stylesheet" href="../../../../../js-libs/diagram-js.css" />
    <link rel="stylesheet" href="../../../../../js-libs/bpmn-embedded.css" />
    <script src="../../../../../js-libs/dagre.min.js"></script>
    <script src="../../../../../js-libs/bpmn-modeler.development.js"></script>
    <script src="../../../../../js-libs/bpmn-layouter.js"></script>
    <script src="../../../../../js-libs/fontawesome.js"></script>
    <script src="../../../../../js-libs/solid.js"></script>
    <script src="../../../../../js-libs/bpmn_visualization.js"></script>
    <script type="module" src="./main.ts"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
  </html>
